{% extends "restaurantBase.html" %}
 {% block content %}
 <!--This html page inherits from basePage.html, -->
<!--   the content in it will appear where  -->
<!--   block content appears in basePage.html when this page is opened-->
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }}</li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!--Makes a new form based on the CreateAccountForm type in forms.py-->
<form action="" method="post" class="text-center form-group-sm container-fluid">
    {{ form.hidden_tag() }}
    <!--Each field is centred on the screen-->
    <div class="row justify-content-center">
      <p class="font-weight-bold col-6">
          Restaurant Name
          {{ form.name (class="form-control row-align-items-center")}}
          <!--If there is an error it is shown under the field in red-->
          {% for error in form.name.errors%}
            <small class="form-text text-danger">[{{error}}]</small>
          {% endfor %}
      </p>
    </div>
    <div class="row justify-content-center">
      <p class="font-weight-bold col-6">
          Restaurant Details
          {{ form.description (class="form-control row-align-items-center")}}
          <!--If there is an error it is shown under the field in red-->
          {% for error in form.description.errors%}
            <small class="form-text text-danger">[{{error}}]</small>
          {% endfor %}
      </p>
    </div>
      <p class="row justify-content-center">
        <input class="btn btn-primary" type="submit" value="Create Account">
      </p>
</form>
{% endblock %}