{% extends "restaurantBase.html" %}
 {% block content %}
 {%for menuItem in menu%}
 <div>
   <hr>
         <h5 class="font-weight-bold mb-3">{{ menuItem.itemName }}</h5>
         <p>{{ menuItem.itemDescription }}</p>
         <p>£{{ menuItem.itemPrice }}</p>
 </div>
 {%endfor%}
 <hr>
 <h3 class="text-center font-weight-bold mb-3">Add a new item to the menu</h3>
 <form action="" method="post" class="text-center form-group-sm container-fluid">
    {{ form.hidden_tag() }}
    <!--Each field is centred on the screen-->
    <div class="row justify-content-center">
      <p class="font-weight-bold col-6">
          Item Name
          {{ form.itemName (class="form-control row-align-items-center")}}
          <!--If there is an error it is shown under the field in red-->
          {% for error in form.itemName.errors%}
            <small class="form-text text-danger">[{{error}}]</small>
          {% endfor %}
      </p>
    </div>
    <div class="row justify-content-center">
      <p class="font-weight-bold col-6">
          Item Description
          {{ form.itemDescription (class="form-control row-align-items-center")}}
          <!--If there is an error it is shown under the field in red-->
          {% for error in form.itemDescription.errors%}
            <small class="form-text text-danger">[{{error}}]</small>
          {% endfor %}
      </p>
    </div>
    <div class="row justify-content-center">
      <p class="font-weight-bold col-6">
          Item Price (£)
          {{ form.itemPrice (class="form-control")}}
          {% for error in form.itemPrice.errors%}
            <small class="form-text text-danger">[{{error}}]</small>
          {% endfor %}
      </p>
      <br>
      <!--This button attempts to submit the values to the database-->
    </div>
      <p class="row justify-content-center">
        <input class="btn btn-primary" type="submit" value="Add Item to Menu">
      </p>
    </div>
  </div>
</form>
 {% endblock %}