<!DOCTYPE html>
<html>
  <head>
      <!--The bootstrap stylesheet is linked to the page-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <style>
    ul#menu li {
       display:inline;
   }

    </style>
    <!--If there is a title passed to the page, it is displayed, otherwise no title specified is displayed-->
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title> No title specified</title>
      {% endif %}
  </head>
  <!--For this page and all that inherit from it, text is white and the background is dark-->
  <body class="bg-secondary text-light">

    <!--This displays a navbar at the top of the screen which links to every page available-->
    <nav class="navbar navbar-expand-sm navbar-light bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <span  class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="nav-link text-warning" href="/displayRestaurants">Display Restaurants</a>
        <a class="nav-link text-warning" href="/viewBasket">View Basket</a>
        <a class="nav-link text-warning" href="/viewOrders">View Previous Orders</a>
    </span>

    <form method="post"><button class="btn btn-secondary" type="submit" value="Log out">Log Out</button></form>
    </nav>

    <!--If a page name is given it is displayed in bold-->
    {% if pageName %}
      <h1 class="font-weight-bold mt-2">{{pageName}}</h1>
    {% endif %}
    <!--<hr>-->

    <!--This extends into whichever classes inherit from this page. The content in them will appear here-->
    <div class="justify-content-center">
      {% block content %}{% endblock %}
    </div>

    <!--These are the scripts necessary for bootstrap to run-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>