{% extends "clientBase.html" %}
 {% block content %}
 {%for menuItem in menu%}
 <div>
     <form method="post">
         <h5 class="font-weight-bold mb-3">{{ menuItem.itemName }}</h5>
         <p>{{ menuItem.itemDescription }}</p>
         <p>£{{ menuItem.itemPrice }}</p>
         <p><button class="btn btn-primary btn-sm" name="myButton" type="submit" value={{ menuItem.id }}>Add Item to Order</button></p>
     </form>
 </div>
 {%endfor%}
 {% endblock %}