{% extends "clientBase.html" %}
 {% block content %}
 {%for restaurant in restaurantsToShow%}
 <div>
     <h5 class="font-weight-bold mb-3">{{ restaurant.name }}</h5>
     {%if restaurant.details%}
       <p>{{ restaurant.details }}</p>
     {% else %}
       <p>There are no details for this restaurant</p>
     {% endif %}
     <p>{{ restaurant.email }}</p>
     <a href="/{{restaurant.id}}/menu">See Menu</a>
 </div>
 {%endfor%}
 {% endblock %}