{% extends "authenticateBase.html" %}
 {% block content %}
 <!--This html page inherits from basePage.html, -->
<!--   the content in it will appear where  -->
<!--   block content appears in basePage.html when this page is opened-->
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<p class=row justify-content-center>
    <a name="showUser" href="/loginUser" class="container-fluid btn col-9 btn-lg btn-primary">I am a user</a>
  </p>
<p class=row justify-content-center>
      <a name="showRestaurant" href=/loginRestr class="container-fluid btn col-9 btn-lg btn-primary">I am a restaurant admin</a>
</p>

{% endblock %}