{% extends "authenticateBase.html" %}
 {% block content %}
 <!--This html page inherits from basePage.html, -->
<!--   the content in it will appear where  -->
<!--   block content appears in basePage.html when this page is opened-->
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!--Makes a new form based on the LoginForm type in forms.py-->
<form action="" method="post" class="text-center form-group-sm container-fluid">
    {{ form.hidden_tag() }}
    <!--Each field is centred on the screen-->
    <div class="row justify-content-center">
      <p class="font-weight-bold col-6">
          Email
          {{ form.email (class="form-control row-align-items-center")}}
          <!--If there is an error it is shown under the field in red-->
          {% for error in form.email.errors%}
            <small class="form-text text-danger">[{{error}}]</small>
          {% endfor %}
      </p>
    </div>
    <div class="row justify-content-center">
      <p class="font-weight-bold col-6">
          Password
          {{ form.password (class="form-control")}}
          {% for error in form.password.errors%}
            <small class="form-text text-danger">[{{error}}]</small>
          {% endfor %}
      </p>
      <!--This button attempts to submit the values to the database-->
    </div>
    <div class="row justify-content-center">
      <p>
        Remember Me
        {{ form.remember }}
      </p>
      <br>
    </div>
      <p class="row justify-content-center">
          <input class="btn btn-primary" type="submit" value="Log in">
      </p>
    </div>
  </div>
</form>

{% endblock %}