{% extends "restaurantBase.html" %}
 {% block content %}
 <div id='name'> <p>Restaurant Name: {{ restaurantToShow.name }} </p></div>

 <div id='details'><p>Restaurant Details: {{ restaurantToShow.details }}</p></div>

 <div><p>Contact Email: {{ restaurantToShow.email }}</p></div>

 <a href="changeInfo" class="btn btn-primary">Change Info</a>
 {% endblock %}