{% extends "clientBase.html" %}
 {% block content %}
 <div>
    {%for order in orders%}
 <div>
    {%for item in order.orderItems%}
        <p>{{item.itemName}}</p>
        <p>{{item.itemPrice}}</p>
        <br>
    {%endfor%}
    <p>Total Price: £{{ order.totalPrice }}</p>
 </div>
 {%endfor%}
 </div>
 {% endblock %}