{% extends "clientBase.html" %}
 {% block content %}
 <div>
    {% if order %}
    <form>
        {%for item in order.orderItems%}
        <p>{{item.itemName}}</p>
        <p>{{item.itemPrice}}</p>
        <br>
        {%endfor%}
        <p>Total Price: £{{ order.totalPrice }}</p>
        <p><button class="btn btn-primary btn-sm" name="myButton" type="submit" value={{ menuItem.id }}>Add Item to Order</button></p>
    </form>
    {% else %}
        <h3>You don't have anything in your basket</h3>>
    {% endif %}
 </div>
 {% endblock %}